.counter {
    text-align:center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.word-count {
    margin-top:20px;
    border: 1px solid black;
    font-size:60px;
    
}   

textarea {
  width: 100%;
  height: 100%;
}